<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>博客管理</title>
</head>
<body>

<!--导航-->
<nav th:replace="admin/_fragments :: menu(1)"></nav>

<!--<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/input}" class="item">发布</a>
            <a href="#" th:href="@{/admin/blogs}" class="teal active item">列表</a>
        </div>
    </div>
</div>-->

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">


        <div class="ui basic modal" id="delete">
            <div class="ui icon header">
                您是否想删除该文章?
            </div>
            <div class="image content">
                <div class="middle aligned image">
                    <i class="question icon"></i>
                </div>
                <div class="description">
                    <p>该删除不可恢复,请谨慎操作!!!</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui inverted red cancel button">不，谢谢</div>
                <div class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    是的，我需要删除它
                </div>
            </div>
        </div>

        <div class="ui basic modal operate" id="operate">
            <div class="ui icon header">
                您是否想批量修改文章状态?
            </div>
            <div class="image content">
                <div class="middle aligned image">
                    <i class="question icon"></i>
                </div>
                <div class="description">
                    <p>该操作不可恢复,请谨慎操作!!!</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui inverted red cancel button">不，谢谢</div>
                <div class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    是的，我需要
                </div>
            </div>
        </div>

        <div class="ui secondary segment form">
            <input type="hidden" name="page">
            <div class="inline fields">
                <div class="field">
                    <input autocomplete="off" type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="typeId">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}"
                                     th:text="${type.name}">错误日志
                                </div>

                            </div>
                        </div>
                        <button id="clear-btn" class="ui compact button">clear</button>
                    </div>

                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索
                    </button>
                </div>
            </div>
        </div>
        <div id="table-container">
            <table th:fragment="blogList" class="ui compact teal table">
                <thead>
                <tr>
                    <th><input id="selectAll" onclick="selectAll()" type="checkbox"></th>
                    <th>序号</th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog,iterStat : ${page.content}">
                    <td><input onclick="radio(this)" name="select" type="checkbox" th:value="${blog.id}"></td>
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${blog.title}">刻意练习清单</td>
                    <td th:text="${blog.type.name}">认知升级</td>
                    <td th:text="${blog.recommend} ? '是':'否'">是</td>
                    <td th:text="${blog.published} ? '发布':'草稿'">草稿</td>
                    <td th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm:ss')}">2017-10-02 09:45</td>
                    <td>
                        <a href="#" th:href="@{/admin/blogs/{id}(id=${blog.id})}"
                           class="ui mini teal basic button">编辑</a>
                        <a th:href="'javascript:ddd('+${blog.id}+');'"
                           class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="10">
                        <!--                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                                                    <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item"
                                                       th:unless="${page.first}">上一页</a>

                                                    <a th:class="${i}==${pageB.currentpage}?'active item':'item'"
                                                       th:each="i:${#numbers.sequence(pageB.lpage,pageB.rpage)}"
                                                       th:attr="data-page=${i}-1" onclick="page(this)" th:text="${i}">
                                                    </a>

                                                    <a onclick="page(this)" th:attr="data-page=${page.number}+1" class=" item"
                                                       th:unless="${page.last}">下一页</a>
                                                </div>-->
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">

                            <div class="ui right floated pagination menu inverted">
                                <a onclick="page(0)" th:unless="${page.first}"
                                   class="item">首页</a>

                                <a class="icon item" onclick="page(this)" th:attr="data-page=${pageB.upper}-1"
                                   th:unless="${page.first}">
                                    <i class="left chevron icon"></i>
                                </a>

                                <a th:class="${i}==${pageB.currentpage}?'active item':'item'"
                                   th:each="i:${#numbers.sequence(pageB.lpage,pageB.rpage)}"
                                   th:attr="data-page=${i}-1" onclick="page(this)" th:text="${i}">
                                </a>

                                <a class="icon item" onclick="page(this)" th:attr="data-page=${pageB.next}-1"
                                   th:unless="${page.last}">
                                    <i class="right chevron icon"></i>
                                </a>
                                <a onclick="page(this)" th:attr="data-page=${pageB.last}-1" th:unless="${page.last}"
                                   class="item">末页
                                </a>
                            </div>

                        </div>

                        <a th:href="@{/admin/blogs/input}"
                           class="ui right floated teal basic button">新增</a>

                        <button id="issue" onclick="issue()" class="ui right floated teal basic button">批量发布</button>

                        <button id="draft" onclick="draft()" class="ui right floated teal basic button">批量草稿</button>

                    </th>
                </tr>
                </tfoot>
            </table>

        </div>

    </div>
</div>


<br>
<br>
<!--底部footer-->
<footer th:replace="admin/_fragments :: footer"></footer>
<th:block th:replace="admin/_fragments :: script"></th:block>

<script>
    let ids = new Set();

    //全选,反选
    function selectAll() {
        //反选
        $("input[name='select']").each(function () {
            if ($(this).prop("checked")) {
                $(this).prop("checked", false);
                ids.delete($(this).val());
            } else {
                $(this).prop("checked", true);
                ids.add($(this).val());
            }
        });
        //全选
        // if($("#selectAll").prop("checked")) {
        //     $("input[name='select']").each(function () {
        //         ids.add($(this).val());
        //     });
        // }else {
        //     $("input[name='select']").each(function () {
        //         ids.delete($(this).val());
        //     });
        // }
        // $("input[name='select']").prop("checked", $("#selectAll").prop("checked"));
        console.log(ids);
    }

    //单选
    function radio(obj) {
        if ($(obj).prop("checked")) {
            ids.add($(obj).val());
        } else {
            ids.delete($(obj).val());
        }
    }

    //批量发布
    function issue() {
        $('#operate')
            .modal({
                closable: false,
                onDeny: function () {
                },
                onApprove: function () {
                    $.ajax({
                        type: "PUT",
                        url: "/admin/blogs/issue",
                        dataType: "json",
                        data: JSON.stringify(Array.from(ids)),
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {
                            if (msg.flag) {
                                location.href = "/admin/blogs"
                            } else {
                                alert(msg.message);
                            }
                        }
                    });
                }
            })
            .modal('show');
    }

    //批量草稿
    function draft() {
        $('#operate')
            .modal({
                closable: false,
                onDeny: function () {
                },
                onApprove: function () {
                    $.ajax({
                        type: "PUT",
                        url: "/admin/blogs/draft",
                        dataType: "json",
                        data: JSON.stringify(Array.from(ids)),
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {
                            if (msg.flag) {
                                location.href = "/admin/blogs"
                            } else {
                                alert(msg.message);
                            }
                        }
                    });
                }
            })
            .modal('show')
    }

    $('#clear-btn')
        .on('click', function () {
            $('.ui.type.dropdown')
                .dropdown('clear')
            ;
        })
    ;

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        loaddata();
    });

    function loaddata() {
        $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search", {
            title: $("[name='title']").val(),
            typeId: $("[name='typeId']").val(),
            recommend: $("[name='recommend']").prop('checked'),
            page: $("[name='page']").val()
        }, function () {
            $("input[name='select']").each(function () {
                if (ids.has($(this).val())) {
                    $(this).prop("checked", true);
                }
            });
        });
    }

    function ddd(id) {
        $('#delete')
            .modal({
                closable: false,
                onDeny: function () {
                },
                onApprove: function () {
                    $.ajax({
                        type: "DELETE",
                        url: "/admin/blogs/" + id,
                        success: function (msg) {
                            if (msg.flag) {
                                location.href = "/admin/blogs"
                            } else {
                                alert(msg.message);
                            }
                        }
                    });
                }
            })
            .modal('show')
        ;
    }
</script>
</body>
</html>