<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>标签管理</title>
</head>
<body>

<!--导航-->
<nav th:replace="admin/_fragments :: menu(3)"></nav>

<!--<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/tags/input}" class="item">新增</a>
            <a href="#" th:href="@{/admin/tags}" class="teal active item">列表</a>
        </div>
    </div>
</div>-->


<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">

        <div id="info" class="ui basic modal">
            <div class="ui icon header">
                您是否想删除该分类?
            </div>
            <div class="image content">
                <div class="middle aligned image">
                    <i class="question icon"></i>
                </div>
                <div class="description">
                    <p>该删除不可恢复,请谨慎操作!!!</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui inverted red cancel button">不，谢谢</div>
                <div class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    是的，我需要删除它
                </div>
            </div>
        </div>

        <div id="error" class="ui basic modal">
            <div class="ui icon header">
                <i class="archive user times icon"></i>
                操作失败
            </div>
            <div class="image content">
                <div class="middle aligned image">
                    <i class="frown icon"></i>
                </div>
                <div class="description">
                    <p id="eee"></p>
                </div>
            </div>
            <div class="actions">
                <div class="ui green ok inverted button">
                    <i class="checkmark icon"></i>
                    Yes
                </div>
            </div>
        </div>

        <table class="ui celled table green">
            <thead>
            <tr>
                <th>序号</th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tag,iterStat : ${page.content}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${tag.name}">刻意练习清单</td>
                <td>
                    <a href="#" th:href="@{/admin/tags/{id}(id=${tag.id})}" class="ui mini teal basic button">编辑</a>
                    <a th:href="'javascript:ddd('+${tag.id}+');'" class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui mini pagination menu" th:if="${page.totalPages}>1">

                        <div class="ui bottom floated attached segment" th:if="${page.totalPages}>1">

                            <div class="ui right floated pagination menu inverted">
                                <a href="#" th:href="@{/admin/tags/(page=0)}" th:unless="${page.first}"
                                   class="item">首页</a>

                                <a class="icon item" th:href="@{/admin/tags/(page=${pageB.upper}-1)}" th:unless="${page.first}">
                                    <i class="left chevron icon"></i>
                                </a>

                                <a th:class="${i}==${pageB.currentpage}?'active item':'item'"
                                   th:each="i:${#numbers.sequence(pageB.lpage,pageB.rpage)}"
                                   th:href="@{/admin/tags/(page=${i}-1)}" th:text="${i}">
                                </a>

                                <a class="icon item" th:href="@{/admin/tags/(page=${pageB.next}-1)}" th:unless="${page.last}">
                                    <i class="right chevron icon"></i>
                                </a>
                                <a href="#" th:href="@{/admin/tags/(page=${pageB.last}-1)}" th:unless="${page.last}"
                                   class="item">末页
                                </a>
                            </div>

                        </div>

                    </div>
                    <a href="#" th:href="@{/admin/tags/input}" class="ui mini right floated teal basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部footer-->
<footer th:replace="admin/_fragments :: footer"></footer>
<th:block th:replace="admin/_fragments :: script"></th:block>

<script>
    function ddd(id) {
        $('#info')
            .modal({
                closable: false,
                onDeny: function () {
                },
                onApprove: function () {
                    $.ajax({
                        type: "DELETE",
                        url: "/admin/tags/" + id,
                        success: function (msg) {
                            if (msg.flag) {
                                location.href = "/admin/tags"
                            } else {
                                $('#eee').html(msg.message)
                                $('#error')
                                    .modal('show')
                                ;
                            }
                        }
                    });
                }
            })
            .modal('show')
        ;
    }
</script>

</body>
</html>