<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <title>分类新增</title>
</head>
<body>

<!--导航-->
<nav th:replace="admin/_fragments :: menu(2)"></nav>

<!--<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/types/input}" class="teal active item">新增</a>
            <a href="#" th:href="@{/admin/types}" class="item">列表</a>
        </div>
    </div>
</div>-->

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form autocomplete="off" action="#" id="formdata" method="post" th:object="${type}"
              th:action="*{id}==null ? @{/admin/types} : @{/admin/types/{id}(id=*{id})}" class="ui form">
            <input type="hidden" name="id" th:value="*{id}">
            <div class=" field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">名称</label>
                    <input required type="text" name="name" placeholder="分类名称" th:value="*{name}">
                </div>
            </div>


            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <input type="submit" class="ui teal button"/>
            </div>

        </form>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部footer-->
<footer th:replace="admin/_fragments :: footer"></footer>
<th:block th:replace="admin/_fragments :: script"></th:block>

<script>
    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });
    //$('#message').hide();
    $("#formdata").submit(function () {
        $.ajax({
            type: "POST",
            url: "/admin/types",
            data: form2JsonString("formdata"),
            contentType: "application/json;charset-UTF-8",
            success: function (msg) {
                if (msg.flag) {
                    location.href = "/admin/types"
                } else {
                    alert(msg.message);
                }
            }
        });
        return false;
    });

</script>
</body>
</html>